@font-face {
    font-family: ptSerif;
    src: url("/font/PTSerif-Regular.ttf");
}

html {
    font-family: ptSerif;
}

body {
    overflow-x: hidden;
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    max-height: fit-content;
    min-height: fit-content;
    text-align: center;
    z-index: -1;
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("/assets/parchment.jpg");
    background-color: #fafafa;
}

header::after {
    content: " ";
    display: block;
    height: 45px;
    background-image: url('/assets/pageborder.png');
    bottom: -15px;
    width: 300%;
    left: -500px;
}

header > .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 40rem) {
    header > * {
        height: 40vh;
    }
}

.container, .container-xl {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container, .container-xl {
      width: 720px;
    }
}
@media (min-width: 992px) {
    .container, .container-xl {
      width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl {
      width: 1140px;
    }
  }

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
} */

/* CSS grid */
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    height: 80vh;
    min-height: calc(fit-content + 4rem);
}

.col-full {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col-half {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.centered-formal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 0 5px 14px rgba(0,0,0,.7);
    padding: 1em;
}

.par-indent {
    text-indent: 50px;
}

@media (max-width: 992px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Text decoration */

.ta-c { text-align: center; }
.ta-r { text-align: right; }
.ta-l { text-align: left; }

.mt-0 { margin-top: 0; }
.m-0 { margin: 0; }

.font-14r { font-size: 1.35rem; }